<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aurigma.GraphicsMill.Core.x64" version="10.6.29" targetFramework="net472" />
  <package id="DiffMatchPatch" version="1.0.3" targetFramework="net472" />
  <package id="DotImaging.BitmapSourceInterop" version="4.8.3" targetFramework="net472" />
  <package id="DotImaging.GenericImage" version="4.8.3" targetFramework="net472" />
  <package id="DotImaging.Primitives2D" version="4.8.3" targetFramework="net472" />
  <package id="GroupDocs.Comparison" version="22.8.0" targetFramework="net472" />
  <package id="Leadtools.Formats.Raster.Common" version="22.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Kernel" version="22.0.0.5" targetFramework="net472" />
  <package id="Magick.NET.Core" version="12.1.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="12.1.0" targetFramework="net472" />
  <package id="MetadataExtractor" version="2.7.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net472" />
</packages>